@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/BlurpleRecolor/BlurpleRecolor.css);

/* Color scheme */
:root {
  --accentcolor: 153,51,51;
  --accentcolor2: #993333;
}

.theme-dark .progressBar-3u8FBM {
    background-color: var(--accentcolor2) !important;
}

/* 10/12/2020 - Dark mode */
.theme-dark {
	--background-color1: #2f3136;
	--background-color2: #36393f;
}

.theme-dark {
	--scrollbar-auto-thumb: var(--background-color1);
	--scrollbar-auto-track: var(--background-color2);
}

/*
.theme-dark .modal-yWgWj-,
.theme-dark .footer-3rDWdC,
.theme-dark .accountList-33MS45 {
background-color: rgba(24, 28, 37, 0);
}

.theme-dark .headerNormal-T_seeN {
  background: #1b1f25;
}

.theme-dark .body-3iLsc4, 
.theme-dark .footer-1fjuF6 {
  background: #22262e;
}

.theme-dark .scrollableContainer-2NUZem,
.theme-dark .panels-j1Uci_,
.theme-dark .connectionHeader-2MDqhu,
.theme-dark .background-1QDuV2,
.theme-dark .codeRedemptionRedirect-1wVR4b,
.theme-dark .attendeeCTA-3ZZQWt,
.theme-dark .formNotice-2_hHWR {
  background-color: #1b1f25;
}

.theme-dark .container-2fRDfG {
	background-color: #1b1f25;
}

.theme-dark .body-2iXqIL {
	background-color: #22262e;
}

.theme-dark .footer-2aTx0s {
	background-color: #1b1f25;
}

.theme-dark .uploadModal-2ifh8j, 
.theme-dark .scroller-3BxosC, 
.theme-dark .peopleList-3c4jOR {
  background: #22262e;
}

.theme-dark .footer-3mqk7D {
  background: #1b1f25;
}

.theme-dark .modeSelected-346R90 .content-1x5b-n, 
.theme-dark .modeSelected-346R90:hover .content-1x5b-n {
    background-color: #1b1f25;
}

.theme-dark .selected-aXhQR6 .layout-2DM8Md {
    background-color: #1b1f25;
}

.theme-dark .section-2gLsgF {
  background: #22262e;
}

.theme-dark .jumpToPresentBar-G1R9s6 {
    background-color: #1b1f25;
}

.theme-dark .autocomplete-1vrmpx {
    background-color: #1b1f25;
}
.theme-dark .selected-1Tbx07 {
    background-color: #22262e;
}

.theme-dark {
    --scrollbar-auto-track: #22262e;
    --scrollbar-auto-thumb: #1b1f25;
}

.theme-dark .friendsEmpty-1K9B4k,
.theme-dark .header-1TKi98,
.theme-dark .content-191BxG,
.theme-dark .thin-1ybCId {
  background-color: #22262e;
}

.theme-dark .inspector-S2gM3e,
.theme-dark .card-3RzMcx,
.theme-dark .footer-2gL1pp {
  background-color: #1b1f25;
}

.theme-dark .searchAnswer-3Dz2-q, .theme-dark .searchFilter-2ESiM3 {
    background-color: #22262e;
}

.theme-dark .categoryHeader-O1zU94 {
  background-color: var(--background-primary);
}

.theme-dark .animatedContainer-1NSq4T {
  background-color: rgba(0,0,0,0) !important;
}

.theme-dark .bar-AokMp3,
.theme-dark .input-2VB9rf,
.theme-dark .contentDefault-16dKSY .content-1jxX5g,
.theme-dark .main-3auUui {
  background-color: var(--background-tertiary);
}

.theme-dark .scroller-1d5FgU {
  background-color: var(--background-primary)
}

.theme-dark .modal-2VIBV8,
.theme-dark .modalSize-cqUaws,
.theme-dark .message-2qRu38 {
  background-color: #22262e;
}

.theme-dark .header-3msK0M,
.theme-dark .footer-1NnaNd,
.theme-dark .templatesList-2E6rTe {
  background-color: #fff !important;
}

.theme-dark .inspector-S2gM3e {
  background-color: #1b1f25;
}

.theme-dark .wrapper-35wsBm {
  background-color: #1b1f25;
}

.theme-dark .lookFilled-1Gx00P.colorGreen-29iAKY {
  background-color: var(--accentcolor2)
}

.theme-dark .addInputWrapper-1BOZ3d {
  background-color: var(--background-primary)
}*/

/* 10/12/2020 - Light mode */
.theme-light .scroller-RmtA4e,
.theme-light .scroller-2TZvBN,
.theme-light .header-2V-4Sw,
.theme-light .title-3qD0b-,
.theme-light .members-1998pB,
.theme-light .scroller-2LSbBU,
.theme-light .form-2fGMdU,
.theme-light .container-3baos1 .avatar-SmRMf2, 
.theme-light .nameTag-3uD-yy.canCopy-2VBT7N,
.theme-light .tree-3tCaw8,
.theme-light .button-14-BFJ[role="switch"],
.theme-light .container-1r6BKw.themed-ANHk51,
.theme-light .nowPlayingColumn-2sl4cE,
.theme-light .peopleList-3c4jOR,
.theme-light .scroller-1JbKMe,
.theme-light .searchBar-6Kv8R2,
.theme-light .table-1tDS6w,
.theme-light .premiumContainer-2Iux5m,
.theme-light .activityPanel-28dQGo,
.theme-light .container-1giJp5,
.theme-light .pictureInPictureVideo-2iKsGg,
.theme-light .side-8zPYf6 .item-PXvHYJ:not([aria-controls="Appearance-tab"]),
.theme-light .side-8zPYf6 .separator-gCa7yv,
.theme-light .header-2RyJ0Y:not(:nth-child(13)),
.theme-light .socialLinks-3jqNFy,
.theme-light .info-1VyQPT,
.theme-light .defaultColor-1_ajX0:not(:nth-child(1)),
.theme-light .cardPrimaryOutline-29Ujqw,
.theme-light .marginTop40-i-78cZ:not(:nth-child(2)),
.theme-light .container-2_Tvc_,
.theme-light .marginTop20-3TxNs6,
.theme-light .defaultMarginh3-2iptLs, .defaultMarginh5-2mL-bP:nth-child(2),
.theme-light .background-1QDuV2,
.theme-light .divider-3573oO,
.theme-light .defaultColor-1_ajX0,
.theme-light #bd-settings-sidebar {
  display:none;
}

.theme-light .container-3w7J-x,
.theme-light .panels-j1Uci_,
.theme-light .guilds-1SWlCJ, 
.theme-light .sidebarRegionScroller-3MXcoP,
.theme-light .privateChannels-1nO12o {
    background-color: white;
}

.theme-light .marginTop40-i-78cZ,
.theme-light .defaultMarginh5-2mL-bP{
    margin: 0px;
}

.theme-light .h5-18_1nd {
    visibility: hidden;
}

.theme-light .button-14-BFJ:not([role="switch"]),
.theme-light .side-8zPYf6 .item-PXvHYJ[aria-selected="false"],
.theme-light .item-26Dhrx[aria-checked="false"],
.theme-light .button-14-BFJ:not([role="switch"]) svg path {
    animation-name: hint, contrast;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes hint {
    0% {background-color: transparent; color: #4f5660;}
    50% {background-color: red; color: white;}
    100% {background-color: transparent; color: #4f5660}
}

@keyframes contrast {
    0% {fill: currentColor;}
    50% {fill: white;}
    100% {fill: currentColor;}
}

/* Settings revamp */
.standardSidebarView-3F1I7i .sidebarRegion-VFTUkN,
.standardSidebarView-3F1I7i .sidebarRegion-VFTUkN .sidebarRegionScroller-3MXcoP {
  justify-content: flex-start;
}

.standardSidebarView-3F1I7i .sidebarRegion-VFTUkN {
  -ms-flex: 0;
  -ms-flex-pack: end;
  flex: 0;
  z-index: 1;
}

.standardSidebarView-3F1I7i .contentColumnDefault-1VQkGM {
  padding: 20px 40px 80px;
}

.standardSidebarView-3F1I7i .contentRegionScroller-26nc1e {
  width: 100%;
}

.standardSidebarView-3F1I7i .contentColumn-2hrIYH,
.standardSidebarView-3F1I7i .customColumn-Rb6toI {
  -ms-flex: 1 1 auto;
  -webkit-box-flex: 1;
  flex: 1 1 auto;
  max-width: 100%;
  min-height: 100%;
  min-width: 460px;
}

.standardSidebarView-3F1I7i .customScroller-26gWhv>div {
  max-width: 100%;
  margin-right: 98px;
}

.theme-dark .standardSidebarView-3F1I7i .contentRegion-3nDuYy {
  width: calc(100% - 226px);
  min-width: 553px;
  padding: 0;
}

.sidebarScrollable-1qPI87 {
  width: 24%;
}

.sidebarScrollable-1qPI87+.content-1rPSz4 {
  max-width: 100%;
  margin-left: 25%;
}

.standardSidebarView-3F1I7i .noticeRegion-1YviSH {
  transform: translateX(25%) !important;
}

.premium-settings .premium-header,
.premium-settings .features-vNGwn7 {
  max-width: 98%;
}

/* 10/05/2020 - Removed gift icon. */
.channelTextArea-rNsIhG .buttons-3JBrkn .button-38aScr[tabindex="0"]:first-child,
.channelTextArea-rNsIhG .buttons-3JBrkn .buttonWrapper-1ZmCpA + .buttonWrapper-1ZmCpA[tabindex="0"] {
    display:none;
}

.channelTextArea-rNsIhG .buttonContainer-28fw2U .button-38aScr {
    display:block !important;
}
